*.vvp
*.vcd
/partial_product_adder/Vivado_projects/thermometer_sequence_ppa/thermometer_sequence_ppa.srcs/sources_1/new/t2b_ppa_source
partial_product_adder/Vivado_projects/thermometer_sequence_ppa/thermometer_sequence_ppa.srcs/sources_1/new/t2b_ppa_source.zip
/partial_product_adder/Vivado_projects/thermometer_sequence_ppa/thermometer_sequence_ppa.srcs/sources_1/new/t2b_ppa_source_9July
partial_product_adder/Vivado_projects/thermometer_sequence_ppa/thermometer_sequence_ppa.srcs/sources_1/new/t2b_ppa_source_9July.zip
